{% extends "index.html" %}
{% block menu %}
{% include "menu.html" %}
{% endblock %}
{% block contenido %}
<div class="d-flex justify-content-center align-items-center flex-column">
    <h1 class="text-center">Restablecimiento de Contraseña</h1>
    {% if validlink %}
    <p class="text-center">Ingresa tu nueva contraseña</p>
    <form class="needs-validation" method="post" class="needs-validation" novalidate>
        {% csrf_token %}
        <label for="nuevaContraseña">Nueva Contraseña:</label>
        <input type="password" id="nuevaContraseña" name="nuevaContraseña" class="form-control" required>
        <br>
        <button type="submit" class="btn btn-dark">Guardar Contraseña</button>
    </form>
    {% else %}
    <p class="text-center">El enlace para restablecimiento de contraseña no es válido. Por favor, verifique el enlace o
        solicita un nuevo enlace de restablecimiento.</p>
    {% endif %}
</div>


<script>
    (() => {
        "use strict";

        const forms = document.querySelectorAll(".needs-validation");

        Array.from(forms).forEach((form) => {
            form.addEventListener(
                "submit",
                (event) => {
                    if (!form.checkValidity()) {
                        event.preventDefault();
                        event.stopPropagation();
                    }

                    form.classList.add("was-validated");
                },
                false
            );
        });
    })();
</script>
{% endblock %}
{% block piePagina %}
{% include "piePagina.html" %}
{% endblock %}