{% extends "index.html" %}
{% block menu %}
{% include "menu.html" %}
{%endblock %}
{% block contenido %}
{% load static %}
<div class="title-cards">
  <h2 id="titulo">Servicios más solicitados</h2>
</div>
<div class="container-card">

  <div class="card">
    <figure>
      <img src="{% static '../static/img/Car1.jpg'%}" alt="">
    </figure>
    <div class="contenido-card">
      <h3 id="titulos">Sincronización</h3>
      <p>En la danza perfecta del tiempo y la armonía, la sincronización cuida la vida de tu motor.</p><br>
      <a href="/NuestrosServicios/"><button class="button2">Ver más</button></a>
    </div>
  </div>
  <div class="card">
    <figure>
      <img src="{% static '../static/img/Car2.jpg'%}" alt="">
    </figure>
    <div class="contenido-card">
      <h3 id="titulos">Cambio de Aceite</h3>
      <p>El secreto para un motor saludable está en un cambio de aceite oportuno.</p><br>
      <a href="/NuestrosServicios/"> <button class="button2">Ver más</button></a>
    </div>
  </div>
  <div class="card">
    <figure>
      <img src="{% static '../static/img/Car3.jpg'%}" alt="">
    </figure>
    <div class="contenido-card">
      <h3 id="titulos">Alineación y Balanceo</h3>
      <p>Encuentra el equilibrio perfecto en cada camino, alinea y balancea tus ruedas hacia la seguridad y el control.
      </p>
      <a href="/NuestrosServicios/"> <button class="button2">Ver más</button></a>
    </div>
  </div>
</div>
{% if mensaje2 %}
<script>
  Swal.fire({
    title: 'Sistema Serviteca',
    text: '{{mensaje2}}',
    icon: 'info',
    confirmButtonColor: 'black',
    confirmButtonText: 'Aceptar'
  }).then((result) => {
    if (result.isConfirmed) {
      location.href = "/"
    }
  });
</script>



{% endif %}
{%endblock %}
{% block piePagina %}
{% include "piePagina.html" %}
{%endblock %}