{% extends "index.html" %}
{% block menu %}
{% include "menu.html" %}
{%endblock %}
{% block contenido %}
<br>
<br>

<div class="title-cards">
  <h2>Servicios que Ofrecemos</h2>
</div>
<div class="container-card">

  <div class="card">
    <figure>
      <img src="../media/Car1.jpg" alt="">
    </figure>
    <div class="contenido-card">
      <h3>Sincronización</h3>
      <p>En la danza perfecta del tiempo y la armonía, la sincronización cuida la vida de tu motor.</p>
      <button id="btn-card">Serviteca Opita</button>
    </div>
  </div>
  <div class="card">
    <figure>
      <img src="../media/Car2.jpg" alt="">
    </figure>
    <div class="contenido-card">
      <h3>Cambio De Aceite</h3>
      <p>El secreto para un motor saludable está en un cambio de aceite oportuno.</p>
      <button id="btn-card">Serviteca Opita</button>
    </div>
  </div>
  <div class="card">
    <figure>
      <img src="../media/Car3.jpg" alt="">
    </figure>
    <div class="contenido-card">
      <h3>Alineación Y Balanceo</h3>
      <p>Encuentra el equilibrio perfecto en cada camino, alinea y balancea tus ruedas hacia la seguridad y el control.
      </p>
      <button id="btn-card"> Serviteca Opita</button>
    </div>
  </div>
</div>
{% if  mensaje2 %}
<script>
   alert("Nuestro sistema detecta que la url ingresada no es valida,redireccionado..");
</script>
{% endif %}
{%endblock %}
{% block piePagina %}
{% include "piePagina.html" %}
{%endblock %}