{% extends "index.html" %}
{% block menu %}
{% include "menu.html" %}
{% endblock %}
{% block contenido %}
{% load static %}
<link rel="stylesheet" href="{% static '../static/css/app.css' %}">

<section>
        <img src="{% static '../static/images/nube1.png' %}" alt="nube1" id="nube1">
        <img src="{% static '../static/images/fondo_transparente.png' %}" alt="" id="transparente">
        <img src="{% static '../static/images/nube2.png' %}" alt="nube2" id="nube2">
        <h2 id="slogan">¡Encuentra tus servicios!</h2>
        <button class="btn btn-primary"id="btn" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">Click Me</button>

        <img src="{% static '../static/images/fondo.png' %}" alt="fondo" id="fondo">
        <img src="{% static '../static/images/viento.png' %}" alt="viento" id="viento">
        <img src="{% static '../static/images/persona.png' %}" alt="persona" id="persona">
    </section>

    <div class="sec">
        <h2>Servicios que te podemos ofrecer</h2>
        <h3>Bienvenido</h3>
        <br>
        <div class="imagenes">
          <div class="card2">
            <div class="img">  <img id="img22" src="{% static '../static/img/Car1.jpg' %}" class="img-thumbnail" alt="..."></div>
            <span>About Me</span>
            <button  class="button2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Ver Servicio</button>
          </div>
          <div class="card2">
            <div class="img">  <img id="img22" src="{% static '../static/img/Car2.jpg' %}" class="img-thumbnail" alt="..."></div>
            <span>About Me</span>
            <button  class="button2" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">
            Ver Servicio</button>
          </div>

          <div class="card2">
            <div class="img"> <img id="img22" src="{% static '../static/img/Car3.jpg' %}" class="img-thumbnail" alt="..."></div>
            <span>About Me</span>
            <button  class="button2" data-bs-toggle="modal" data-bs-target="#staticBackdrop3">
            Ver Servicio</button>
          </div>

          <div class="card2">
            <div class="img">  <img id="img22" src="{% static '../static/img/Car1.jpg' %}" class="img-thumbnail" alt="..."></div>
            <span>About Me</span>
            <button  class="button2" data-bs-toggle="modal" data-bs-target="#staticBackdrop3">
            Ver Servicio</button>
          </div>

          <div class="card2">
            <div class="img">  <img id="img22" src="{% static '../static/img/Car1.jpg' %}" class="img-thumbnail" alt="..."></div>
            <span>About Me</span>
            <button  class="button2" data-bs-toggle="modal" data-bs-target="#staticBackdrop3">
            Ver Servicio</button>
          </div>

          <div class="card2">
            <div class="img">  <img id="img22" src="{% static '../static/img/Car1.jpg' %}" class="img-thumbnail" alt="..."></div>
            <span>About Me</span>
            <button  class="button2" data-bs-toggle="modal" data-bs-target="#staticBackdrop3">
            Ver Servicio</button>
          </div>

          <div class="card2">
            <div class="img">  <img id="img22" src="{% static '../static/img/Car1.jpg' %}" class="img-thumbnail" alt="..."></div>
            <span>About Me</span>
            <button  class="button2" data-bs-toggle="modal" data-bs-target="#staticBackdrop3">
            Ver Servicio</button>
          </div>

          <div class="card2">
            <div class="img">  <img id="img22" src="{% static '../static/img/Car1.jpg' %}" class="img-thumbnail" alt="..."></div>
            <span>About Me</span>
            <button  class="button2" data-bs-toggle="modal" data-bs-target="#staticBackdrop3">
            Ver Servicio</button>
          </div>

          <div class="card2">
            <div class="img">  <img id="img22" src="{% static '../static/img/Car1.jpg' %}" class="img-thumbnail" alt="..."></div>
            <span>About Me</span>
            <button  class="button2" data-bs-toggle="modal" data-bs-target="#staticBackdrop3">
            Ver Servicio</button>
          </div>

        </div>       
</div>
<!--Modal-->
  <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Bienvenido señor usuario</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Gracias por elejirnos a la mejor empresa que te brindara tus mejores servicios exclusivo para ti
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Open second modal</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Modal 2</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Hide this modal and show the first with the button below.
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">Back to first</button>
        </div>
      </div>
    </div>
  </div>


  <!-- Modal2 -->
  
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal3 -->
  
  <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Waos</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


   <!-- Modal4 -->
  
   <div class="modal fade" id="staticBackdrop3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Xddddd</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>



    
    <script>
        let header = document.getElementById('header');
        let nube1 = document.getElementById('nube1');
        let transparente = document.getElementById('transparente');
        let nube2 = document.getElementById('nube2');
        let slogan = document.getElementById('slogan');
        let btn = document.getElementById('btn');
        let viento = document.getElementById('viento');
        let persona = document.getElementById('persona');

    
        window.addEventListener('scroll', function() {
            let value = window.scrollY;
    
            transparente.style.marginLeft = value * 0.7 + 'px';
            nube1.style.left = value * -5 + 'px';
            nube2.style.left = value * -5 + 'px';
            btn.style.marginTop = value * 0.7 + 'px';
            slogan.style.marginBottom = value * -1 + 'px';
            viento.style.left = value * -5 + 'px';
            header.style.marginTop = value * 0.4 + 'px';
            persona.style.marginLeft = value * 4 + 'px';
        });
    
        const navigation = document.querySelector('nav');
        document.querySelector('.menu').onclick = function() {
            this.classList.toggle('active');
            navigation.classList.toggle('active');
        }
    </script>
    
{% endblock %}
{% block piePagina %}
{% include "piePagina.html" %}
{% endblock %}
