{% load static %}
<div class="grupo-1">

    <div class="box">
        <h2>SOBRE NOSOTROS</h2>
        <p>Brindamos el mejor servicio de mantenimiento y reparación para tu vehículo.</p>
    </div>
    <div class="box">
        <h2>SÍGUENOS</h2>
        <div class="red-social">
            <a href="https://web.facebook.com/profile.php?id=61550587779305" target="_blank">
                <ion-icon name="logo-facebook" id="facebook"></ion-icon></a>
            <a href="https://www.instagram.com/servitecaopita/" target="_blank">
                <ion-icon name="logo-instagram" id="instagram"></ion-icon></a>
            <a href="https://twitter.com/ServitecaOpita" target="_blank">
                <ion-icon name="logo-twitter" id="twitter"></ion-icon></a>
        </div>
    </div>
    <div class="box">
        <h2>CONTÁCTENOS</h2>
        <div>
            <div class="av">
                <ion-icon name="home"></ion-icon><label style="margin-left: 20px;">Av. Circunvalar #26 - 97</label>
            </div>
            <div class="av">
                <ion-icon name="call"></ion-icon><label style="margin-left: 20px;">+57 3192837405</label>
            </div>
            <div class="av">
                <ion-icon name="mail"></ion-icon><label style="margin-left: 20px;">servitecaopita@gmail.com</label>
            </div>
        </div>
    </div>
</div>
<div class="grupo-2">
    <div class="copyright">
        © 2023 Todos los derechos reservados |
        <a href="">Serviteca Opita</a>
    </div>
    <div class="information">
        <a href="">Información Compañía</a> |
        <a href="">Privacidad y Política</a> |
        <a href="">Términos y condiciones</a>
    </div>
</div>