<div class="grupo-1">
    <div class="box">
        <figure>
            <a href="">
                <img src="../media/Logo.png" id="logopie" alt="Logo">
            </a>
        </figure>
    </div>
    <div class="box">
        <h2>SOBRE NOSOTROS</h2>
        <p>Brindamos el mejor sercvicio de mantenimiento y reparacion para tu vehiculo</p>

    </div>
    <div class="box">
        <h2>SIGUENOS</h2>
        <div class="red-social">
            <ion-icon name="logo-facebook" id="facebook"></ion-icon>
            <ion-icon name="logo-instagram" id="instagram"></ion-icon>
            <ion-icon name="logo-twitter" id="twitter"></ion-icon>
        </div>
    </div>
</div>
<div class="grupo-2">
    <div class="copyright">
        © 2023 Todos lo derechos reservados|
        <a href="">Serviteca Opita</a>
    </div>
    <div class="information">
        <a href="">Información Compañia</a> |
        <a href="">Privación y Politica</a> |
        <a href="">Terminos y condiciones</a>
    </div>
</div>