<div class="text-center fw-bold text-white ">
    <div class="container-footer-all">
        <div class="container-body">
            <div class="column1">
                <h1>Mas informacion de la compañia</h1>
                <p>Brindamos el mejor sercvicio de mantenimiento y reparacion para tu vehiculo </p>
            </div>
            <div class="column2">
                <h1 style="margin-left:10% ;">Redes Sociales</h1>
                <div class="redes">
                    <div class="row" style="margin-right: 10px;">
                        <label><i class="bi bi-facebook" style="font-size: 2rem;"></i></label>
                    </div>
                    <div class="row" style="margin-right: 10px;">
                        <label><i class="bi bi-instagram" style="font-size: 2rem;"></i></label>
                    </div>
                    <div class="row" style="margin-right: 10px;">
                        <label><i class="bi bi-twitter" style="font-size: 2rem;"></i></label>
                    </div>
                </div>
            </div>
            <div class="column3">
                <h1 id="Contactenos" style="margin-right:47px ;">Contactenos</h1>
                <div class="row2" style="margin-right: 58px;">
                    <label><i class="bi bi-house-fill" style="font-size: 1rem;"> Av. Circunvalar #26 - 97</i></label>

                </div>
                <div class="row2" style="margin-right: 58px;">
                    <label><i class="bi bi-telephone-forward-fill" style="font-size: 1rem;">+57 3192837405</i></label>

                </div>
                <div class="row2" style="margin-right: 58px;">
                    <i class="bi bi-envelope-check-fill" style="margin-left: 13%;"></i>
                    <label style="margin-top: 0%; margin-left: 3%;">servitecaopita1@gmail.com</label>
                </div>
            </div>
        </div>
    </div>
    <div class="container-footer">
        <div class="footer">
            <div class="copyright">
                © 2023 Todos lo derechos reservados|
                <a href="">Serviteca Opita</a>
            </div>
            <div class="information">
                <a href="">Informacion Compañia</a> |
                <a href="">Privacion y Politica</a> |
                <a href="">Terminos y condiciones</a>
            </div>
        </div>
    </div>
</div>