{% extends "index.html" %}
{% block menu %}
{% include "tecnico/menu.html" %}
{%endblock %}
{% block contenido %}
<br>
<br>
<br>
<h3 class="text-center mt-3 fw-bold" style="color: black;">MÓDULO TÉCNICO</h3>
<br />
<div class="row" style="margin: 0 auto !important; width: 55%; min-height: 47vh;">
  <div class="col-sm">
    <div class="text-center">
      <i class="bi bi-car-front-fill" style="font-size: 8rem; color: black;"></i>
    </div>
    <div class="text-center fw-bold">Gestionar Solicitudes</div>
  </div>
</div>
{%endblock %}

{% block piePagina %}
{% include "piePagina.html" %}
{%endblock %}


