{% extends "index.html" %}
{% block encabezado %}
{% include "encabezado.html" %}
{%endblock %}
{% block menu %}
{% include "tecnico/menu.html" %}
{%endblock %}
{% block contenido %}
<br>
<br>
<br>
<br>
{% load static %}
<script src="{% static '../static/js/inactividad.js' %}"></script>
<h3 class="text-center fw-bold" style="color: black;">GESTIONAR SOLICITUDES VEHICULOS</h3>

<div class="w-75 table-responsive" style="margin: 0 auto; margin-bottom: 5rem;">
    <table id="tblSolicitudesVehiculos" class="table table-bordered table-hover">
        <thead>
            <tr class="text-center bg-dark text-white">
                <th class="text-center" style="background-color: black;">Cliente</th>
                <th class="text-center" style="background-color: black;">Placa Vehiculo</th>
                <th class="text-center" style="background-color: black;">Servicio Solicitado</th>
                <th class="text-center" style="background-color: black;">Observaciones</th>
                <th class="text-center" style="background-color: black;">Acción</th>
            </tr>
        </thead>
        <tbody>
            {% for servicio_prestado in servicios_prestados %}
            <tr>
                <td class="text-center">{{ servicio_prestado.serpCli }}</td>
                <td class="text-center">{{ servicio_prestado.serpVehi.vehPlaca }}</td>
                <td class="text-center">{{ servicio_prestado.serpObservaciones }}</td>
                <td class="text-center">
                    {% for detalle in detalles_servicios %}
                    {% if detalle.detServicioPrestado == servicio_prestado %}
                    {{ detalle.detServicio.detServicio }} - {{ detalle.detServicioPrestado.serpEmp }}
                    {% endif %}
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
</div>

<script>
    cargarDataTable($("#tblSolicitudesVehiculos"), "LISTADO SOLICITUDES VEHICULOS", 4);
</script>
{%endblock %}
{% block piePagina %}
{% include "piePagina.html" %}
{%endblock %}