{% extends "index.html" %}
{% block encabezado %}
{% include "encabezado.html" %}
{%endblock %}
{% block menu %}
{% include "tecnico/menu.html" %}
{%endblock %}
{% block contenido %}
<br>
<br>
<br>
<br>
{% load static %}
<script src="{% static '../static/js/inactividad.js' %}"></script>
<h3 class="text-center fw-bold" style="color: black;">GESTIONAR SOLICITUDES VEHICULOS</h3>

<div class="w-75 table-responsive" style="margin: 0 auto; margin-bottom: 5rem;">
    <table id="tblSolicitudesVehiculos" class="table table-bordered table-hover">
        <thead>
            <tr class="text-center text-white">
                <th style="background-color:black ;">Observaciones</th>
                <th style="background-color:black ;">Fecha y Hora</th>
                <th style="background-color:black ;">Cliente</th>
                <th style="background-color:black ;">Vehiculo</th>
                <th style="background-color:black ;">Estado</th>
                <th style="background-color:black ;">Acción</th>
            </tr>
        </thead>
        <tbody>
            {% for servicioP in serviciosPrestados %}
            <tr>
                <td>{{ servicioP.serpObservaciones }}</td>
                <td>{{ servicioP.serpFechaServicio }}</td>
                <td>{{ servicioP.serpCli.cliPersona.perNombres }} {{ servicioP.serpCli.cliPersona.perApellidos }}</td>
                <td>{{ servicioP.serpVehi.vehPlaca }}</td>
                <td>{{ servicioP.serpEstado }}</td>
                <td class="text-center">
                    <a onclick="abrirModalDetalle('{{ servicioP.id }}')">
                        <i class="bi bi-eye" title="Ver Detalle" style="font-size: 2rem;"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
</div>
<!-- The Modal -->
<div class="modal" id="DetalleServicio" style="margin-top: 5%;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header tituloModal">
                <h4 class="modal-title">Detalle Servicio</h4>
                <button type="button" class="btn-close text-white" data-bs-dismiss="modal"></button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="w-105 table-responsive" style="margin: 0 auto;">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Servicio</th>
                                <th>Costo</th>
                                <th>Empleado</th>
                                <th>Estado</th>
                                <th>Observaciones</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody id="tablaDetalles">

                        </tbody>
                    </table>
                </div>
                <div id="EspacioFC"></div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function atenderServicio(id) {
        $.ajax({
            url: "/atenderServicio/" + id,
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                if (data.success) {
                    Swal.fire({
                        title: 'Envio Correo',
                        text: 'El correo fue enviado a los asistentes de manera satisfactoria.',
                        icon: 'success',
                        confirmButtonColor: 'black',
                        confirmButtonText: 'Aceptar'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            location.href = "/vistaGestionarSolicitudesV/";
                        }
                    });
                } else {
                    Swal.fire({
                        title: 'Envio Correo',
                        text: 'No se pudo enviar el correo a los asistentes.',
                        icon: 'error',
                        confirmButtonColor: 'black',
                        confirmButtonText: 'Aceptar'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            location.href = "/vistaGestionarSolicitudesV/";
                        }
                    });
                }
            },
            error: function (error) {
                console.log(error);
                alert("Hubo un error al enviar el correo a los asistentes." + error);
            }
        });
    }

</script>
<script>
    function finalizarServicio(id) {
        $.ajax({
            url: "/finalizarServicio/" + id,
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                if (data.success) {
                    Swal.fire({
                        title: 'Envio Correo',
                        text: 'El correo fue enviado a los asistentes de manera satisfactoria.',
                        icon: 'success',
                        confirmButtonColor: 'black',
                        confirmButtonText: 'Aceptar'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            location.href = "/vistaGestionarSolicitudesV/";
                        }
                    });
                } else {
                    Swal.fire({
                        title: 'Envio Correo',
                        text: 'No se pudo enviar el correo a los asistentes.',
                        icon: 'error',
                        confirmButtonColor: 'black',
                        confirmButtonText: 'Aceptar'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            location.href = "/vistaGestionarSolicitudesV/";
                        }
                    });
                }
            },
            error: function (error) {
                console.log(error);
                alert("Hubo un error al enviar el correo a los asistentes." + error);
            }
        });
    }

</script>
<script>
    function abrirModalDetalle(id) {
        $.ajax({
            url: "/consultarDetalleServicioPrestado/" + id,
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                var detalles = data.detalles;
                var detallesHtml = "";
                for (var i = 0; i < detalles.length; i += 1) {
                    var campoServicio = detalles[i].servicio.serNombre;
                    var campoCosto = "$" + detalles[i].servicio.serCosto;
                    var campoEmpleado = detalles[i].empleado.perNombres + " " + detalles[i].empleado.perApellidos;
                    var campoEstado = detalles[i].estado.detEstadoServicio;
                    var campoObservaciones = detalles[i].observaciones.detObservaciones;

                    detallesHtml += "<tr>";
                    detallesHtml += "<td>" + campoServicio + "</td>";
                    detallesHtml += "<td>" + campoCosto + "</td>";
                    detallesHtml += "<td>" + campoEmpleado + "</td>";
                    detallesHtml += "<td>" + campoEstado + "</td>";
                    detallesHtml += "<td>";

                    if (campoObservaciones === null) {
                        detallesHtml += "No hay observaciones hechas por el técnico todavía.";
                    } else {
                        detallesHtml += campoObservaciones;
                    }

                    detallesHtml += "</td>";
                    detallesHtml += "<td>";

                    if (campoEstado == "Asignado") {
                        detallesHtml += `<a onclick="atenderServicio('${data.detalles[i].idDetalle}')">
                            <i class="bi bi-clipboard-check" id="iconoAtender" title="Atender Servicio" style="font-size: 2rem;"></i>
                        </a>`;
                    } else if (campoEstado == "En Proceso") {
                        detallesHtml += `<a onclick="finalizarServicio('${data.detalles[i].idDetalle}')">
                            <i class="bi bi-flag" id="iconoFinalizar" title="Finalizar Servicio" style="font-size: 2rem;"></i>
                        </a>`;
                    } else if (campoEstado == "Finalizado") {
                        detallesHtml += `<button type="button" style="background-color:black ;color:white;" onclick="mostrarFormularioComentario(${data.detalles[i].idDetalle})">Agregar Observación</button>`;
                    }

                    detallesHtml += "</td></tr>";
                }

                $("#tablaDetalles").html(detallesHtml);

                // Mostrar el modal
                $('#DetalleServicio').modal('show');
            },
            error: function (error) {
                console.log(error);
                alert("Hubo un error al cargar los datos del detalle.");
            }
        });
    }

    function mostrarFormularioComentario(detalleId) {
        var formularioHtml = ` 
            <h5 id="H5RO">Registrar Observaciones</h5>
            <form method="post"  id="frmObservacionesFinalizacion" action="/guardarObservacionesFinalizacion/">
                <input type="hidden" name="detalle_id" value="${detalleId}">
                {% csrf_token %}
                <textarea id="txtObservacionesFinalizacion" name="txtObservacionesFinalizacion" rows="4" cols="50" required></textarea>
                <br>
                <button type="button" style="background-color:black ;color:white;" onclick="guardarComentarioFinalizacion(${detalleId})">Guardar Observación</button>
            </form>
        `;
        $("#EspacioFC").html(formularioHtml);
    }


    function guardarComentarioFinalizacion(detalleId) {
        var comentario = $("#txtObservacionesFinalizacion").val();
        var csrfToken = $('[name="csrfmiddlewaretoken"]').val();

        $.ajax({
            url: "/guardarObservacionesFinalizacion/",
            type: 'POST',
            data: {
                detalle_id: detalleId,
                comentario: comentario,
                csrfmiddlewaretoken: csrfToken
            },
            dataType: 'json',
            success: function (response) {
                if (response.success) {
                    Swal.fire({
                        title: 'Registro de observación',
                        text: 'La observación fue registrada de manera satisfactoria.',
                        icon: 'success',
                        confirmButtonColor: 'black',
                        confirmButtonText: 'Aceptar'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            location.href = "/vistaGestionarSolicitudesV/";
                        }
                    });
                    $('#txtObservacionesFinalizacion').val('');
                    $('#H5RO').empty();
                    $('#frmObservacionesFinalizacion').empty();
                } else {
                    alert('Error al guardar la observacion.');
                }
            },
            error: function (error) {
                alert("Hubo un error al enviar la observacion." + error);
            }
        });
    }


</script>

<script>
    cargarDataTable($("#tblSolicitudesVehiculos"), "LISTADO SOLICITUDES VEHICULOS", 5);
</script>
{%endblock %}
{% block piePagina %}
{% include "piePagina.html" %}
{%endblock %}