{% extends "index.html" %}
{% block encabezado %}
{% include "encabezado.html" %}
{%endblock %}
{% block menu %}
{% include "administrador/menu.html" %}
{%endblock %}
{% block contenido %}
<br>
<br>
<br>
{% load static %}
<script src="{% static '../static/js/inactividad.js' %}"></script>
<h3 class="text-center mt-3 fw-bold">MÓDULO ADMINISTRADOR</h3>
<br />
<div class="row" style="margin: 0 auto !important; width: 55%; min-height: 47vh;">
  <div class="col-sm">
    <div class="text-center">
      <i class="bi bi-person-fill-gear" style="font-size: 8rem; color: black;"></i>
    </div>
    <div class="text-center fw-bold">Gestionar Usuarios</div>
  </div>

  <div class="col-sm" style="margin-bottom: 5rem;">
    <div class="text-center" style="font-size: 8rem;">
      <i class="bi bi-file-bar-graph-fill" style="color: black;"></i>
    </div>
    <div class="text-center fw-bold">Generar Reportes Graficos</div>
  </div>
  <div class="col-sm" style="margin-bottom: 5rem;">
    <div class="text-center" style="font-size: 8rem;">
      <i class="bi bi-person-fill-add" style="color: black;"></i>
    </div>
    <div class="text-center fw-bold">Gestionar Empleados</div>
  </div>
</div>
<script>
  const mensaje = "{{ mensaje }}";

  if (mensaje === "Nuestro sistema detecta que su rol no cuenta con los permisos necesarios para acceder a esta url.") {
    Swal.fire({
      icon: 'info',
      title: 'Sistema Serviteca',
      text: mensaje,
      confirmButtonText: 'Aceptar'
    }).then((result) => {
      if (result.isConfirmed) {
          location.href = "/inicioAdministrador/"
      }
  });
  }
</script>
{%endblock %}
{% block piePagina %}
{% include "piePagina.html" %}
{%endblock %}