{% extends "index.html" %}
{% block encabezado %}
{% include "encabezado.html" %}
{%endblock %}
{% block menu %}
{% include "asistente/menu.html" %}
{%endblock %}
{% block contenido %}
{% load static %}
<script src="{% static '../static/js/inactividad.js' %}"></script>
<h1 class="text-center">Editar Datos del Usuario</h1>
<div class="d-flex justify-content-center align-items-center" style="margin-bottom: 7rem;">
    <form action="/ActualizarUsuAs/" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="form-group row">
            <div class="mb-3 col-lg-4">
                <label for="txtNombres" class="fw-bold" style="color: black;">Nombres</label>
                <input type="text" pattern="[A-Za-zÁáÉéÍíÓóÚúÜüÑñ ]{1,150}" name="txtNombres" class="form-control"
                    id="txtNombres" placeholder="Nombre" value="{{ user.first_name }}" required>
            </div>
            <div class="mb-3 col-lg-4">
                <label for="txtApellidos" class="fw-bold" style="color: black;">Apellidos</label>
                <input type="text" pattern="[A-Za-zÁáÉéÍíÓóÚúÜüÑñ ]{1,150}" name="txtApellidos" class="form-control"
                    id="txtApellidos" placeholder="Apellidos" value="{{ user.last_name }}" required>
            </div>
            <div class="mb-3 col-lg-4">
                <label for="txtCorreo" class="fw-bold" style="color: black;">Correo Electrónico</label>
                <input type="email" name="txtCorreo" class="form-control" id="txtCorreo"
                    placeholder="correo Electrónico" value="{{ user.email }}" required>
            </div>
        </div>
        <div class="form-group row">
            <div class="mb-3 col-lg-6">
                <label for="cbTipo" class="fw-bold" style="color: black;">Tipo Usuario</label>
                <select name="cbTipo" id="cbTipo" class="form-select" disabled>
                    <option value="" selected>{{ user.userTipo }}</option>
                </select>
            </div>
            <div class="mb-3 col-lg-6">
                <label for="cbRol" class="fw-bold" style="color: black;">Rol en el Sistema</label>
                <select name="cbRol" id="cbRol" class="form-select" disabled>
                    <option value="Asistente" selected>Asistente</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="mb-3 col-lg-12">
                <label for="fileFoto" class="fw-bold" style="color: black;">Foto de la Persona</label>
                <input type="file" name="fileFoto" class="form-control" id="fileFoto" placeholder="Foto">
            </div>
        </div>
        <div class="form-group row">
            <div class="mt-3 col-lg-12">
                <div class="text-center">
                    {% if user.userFoto %}
                    <img id="imagenMostrar" src="{{ user.userFoto.url }}" width="200" height="200">
                    {% else %}
                    <img id="imagenMostrar"
                        src="https://objetivoligar.com/wp-content/uploads/2017/03/blank-profile-picture-973460_1280.jpg"
                        alt="" width="200" height="200">
                    {% endif %}
                </div>
            </div>
        </div>

        <br>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn" style="background-color: black; color: white;">Actualizar</button>
            <a href="/inicioAsistente/"><button type="button" class="btn btn-danger mx-2 fw-bold">Cancelar</button></a>
        </div>

    </form>
</div>

{% if mensaje %}
{% if estado %}
<script>
    Swal.fire({
        title: 'Actualización de datos',
        text: '{{mensaje}}',
        icon: 'success',
        confirmButtonColor: 'black',
        confirmButtonText: 'Aceptar'
    }).then((result) => {
        if (result.isConfirmed) {
            location.href = "/vistaGestionarPerfilAsistente/"
        }
    });
</script>
{% else %}
<script>
    Swal.fire({
        title: 'Actualización de datos',
        text: '{{mensaje}}',
        icon: 'error',
        confirmButtonColor: 'black',
        confirmButtonText: 'Aceptar'
    }).then((result) => {
        if (result.isConfirmed) {
            location.href = "/vistaGestionarPerfilAsistente/"
        }
    });
</script>
{% endif %}
{% endif %}

<script>
    (() => {
        "use strict";

        const forms = document.querySelectorAll(".needs-validation");

        Array.from(forms).forEach((form) => {
            form.addEventListener(
                "submit",
                (event) => {
                    if (!form.checkValidity()) {
                        event.preventDefault();
                        event.stopPropagation();
                    }

                    form.classList.add("was-validated");
                },
                false
            );
        });
    })();
</script>
{%endblock %}
{% block piePagina %}
{% include "piePagina.html" %}
{%endblock %}