{% extends "index.html" %}
{% block encabezado %}
{% include "encabezado.html" %}
{%endblock %}
{% block menu %}
{% include "asistente/menu.html" %}
{%endblock %}
{% block contenido %}
{% load static %}
<script src="{% static '../static/js/inactividad.js' %}"></script>
<div class="d-flex justify-content-center align-items-center" style="margin-bottom: 7rem;">
    <form id="frmRegistrarCliente" action="/registrarCliente/" method="post" enctype="multipart/form-data"
        class="needs-validation w-75" novalidate>
        {% csrf_token%}
        <h3 class="text-center fw-bold" style="color:black ;">REGISTRAR CLIENTE</h3>
        <br>
        <div class="form-group row">
            <div class="mb-3 col-lg-4">
                <label for="txtIdentificacion" class="fw-bold" style="color: black;">Identificación:</label>
                <input type="number" name="txtIdentificacion" class="form-control" id="txtIdentificacion"
                    placeholder="Identificación del cliente" required>
                <div class="invalid-feedback">Por favor ingrese la identificación del cliente</div>
            </div>
            <div class="mb-3 col-lg-4">
                <label for="txtNombres" class="fw-bold" style="color: black;">Nombres:</label>
                <input type="text" pattern="[A-Za-zÁáÉéÍíÓóÚúÜüÑñ ]{1,70}" name="txtNombres" class="form-control"
                    id="txtNombres" placeholder="Nombres del cliente" required>
                <div class="invalid-feedback">Por favor ingrese el nombre del cliente</div>
            </div>
            <div class="mb-3 col-lg-4">
                <label for="txtApellidos" class="fw-bold" style="color: black;">Apellidos</label>
                <input type="text" name="txtApellidos" pattern="[A-Za-zÁáÉéÍíÓóÚúÜüÑñ ]{1,70}" class="form-control"
                    id="txtApellidos" placeholder="Apellidos del cliente" required>
                <div class="invalid-feedback">Por favor ingrese el apellido del cliente</div>
            </div>
            <div class="mb-3 col-lg-4">
                <label for="txtCorreo" class="fw-bold" style="color: black;">Correo Electrónico:</label>
                <input type="email" name="txtCorreo" class="form-control" id="txtCorreo"
                    placeholder="Correo del cliente" required>
                <div class="invalid-feedback">Por favor ingrese el correo electronico del cliente</div>
            </div>
            <div class="mb-3 col-lg-4">
                <label for="txtNumeroC" class="fw-bold" style="color: black;">Numero telefonico:</label>
                <input type="number" class="form-control" id="txtNumeroC" name="txtNumeroC"
                    placeholder="Numero telefonico del cliente" required />
                <div class="invalid-feedback">Por favor ingrese el numero telefonico del cliente</div>
            </div>
            <div class="mb-3 col-lg-4">
                <label for="txtDirreccion" class="fw-bold" style="color: black;">Direccion:</label>
                <input type="text" name="txtDireccion" class="form-control" id="txtDireccion"
                    placeholder="Direccion del cliente" required>
                <div class="invalid-feedback">Por favor ingrese la direccion del cliente</div>
            </div>
            <br>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn" style="background-color: black; color:white;">Registrar</button>
                <a href="/vistaGestionarClientes/"><button type="button"
                        class="btn btn-danger mx-2">Cancelar</button></a>
            </div>
        </div>
    </form>
</div>

{% if mensaje %}
{% if estado %}
<script>
    Swal.fire({
        title: 'Registro Cliente',
        text: '{{mensaje}}',
        icon: 'success',
        confirmButtonColor: 'black',
        confirmButtonText: 'Aceptar'
    }).then((result) => {
        if (result.isConfirmed) {
            location.href = "/vistaGestionarClientes/"
        }
    });
</script>
{% else %}
<script>
    Swal.fire({
        title: 'Registro Cliente',
        text: '{{mensaje}}',
        icon: 'error',
        confirmButtonColor: 'black',
        confirmButtonText: 'Aceptar'
    }).then((result) => {
        if (result.isConfirmed) {
            location.href = "/vistaRegistrarCliente/"
        }
    });
</script>
{% endif %}
{% endif %}

<script>
    (() => {
        "use strict";


        const forms = document.querySelectorAll(".needs-validation");


        Array.from(forms).forEach((form) => {
            form.addEventListener(
                "submit",
                (event) => {
                    if (!form.checkValidity()) {
                        event.preventDefault();
                        event.stopPropagation();
                    }

                    form.classList.add("was-validated");
                },
                false
            );
        });
    })();
</script>
{%endblock %}
{% block piePagina %}
{% include "piePagina.html" %}
{%endblock %}