{% extends "index.html" %}
{% block menu %}
{% include "asistente/menu.html" %}
{%endblock %}
{% block contenido %}
<br>
<br>
{% load static %}
<script src="{% static '../static/js/inactividad.js' %}"></script>
<br>
<h3 class="text-center mt-3 fw-bold" style="color: black;">MÓDULO ASISTENTE</h3>
<br>
<div class="row" style="margin: 0 auto !important; width: 55%; min-height: 47vh;">
  <div class="col-sm">
    <div class="text-center" style="font-size: 8rem;">
      <i class="bi bi-car-front-fill" style="color: black;"></i>
    </div>

    <div class="text-center fw-bold">Registrar Vehiculos</div>
  </div>
  <div class="col-sm" style="margin-bottom: 5rem;">
    <div class="text-center" style="font-size: 8rem;">
      <i class="bi bi-person-plus-fill" style="color: black;"></i>
    </div>
    <div class="text-center fw-bold">Registrar Clientes</div>
  </div>
  <div class="col-sm" style="margin-bottom: 5rem;">
    <div class="text-center" style="font-size: 8rem;">
      <i class="bi bi-cash-coin" style="color: black;"></i>
    </div>
    <div class="text-center fw-bold">Gestionar Facturas</div>
  </div>
  <div class="col-sm" style="margin-bottom: 5rem;">
    <div class="text-center" style="font-size: 8rem;">
      <i class="bi bi-list-check" style="color: black;"></i>
    </div>
    <div class="text-center fw-bold">Gestionar Servicios Prestados</div>
  </div>
</div>
{% if mensaje2 %}
<script>
   alert("Nuestro sistema detecta que la url no es valida,redireccionado..");
</script>
{% endif %}
<script>
  const mensaje = "{{ mensaje }}";
  if (mensaje === "Nuestro sistema detecta que su rol no cuenta con los permisos necesarios para acceder a esta url.") {
      Swal.fire({
          icon: 'info',
          title: 'Sistema Serviteca',
          text: mensaje,
          confirmButtonText: 'Aceptar'
      }).then((result) => {
        if (result.isConfirmed) {
            location.href = "/inicioAsistente/"
        }
    });
  }
</script>
{%endblock %}
{% block piePagina %}
{% include "piePagina.html" %}
{%endblock %}