{% extends "index.html" %}
{% block menu %}
{% include "asistente/menu.html" %}
{%endblock %}
{% block contenido %}
{% load static %}
<script src="{% static '../static/js/inactividad.js' %}"></script>
<br>
<h3 class="text-center mt-3 fw-bold" style="color: black;">MÓDULO ASISTENTE</h3>
<br>
<div class="row" style="margin: 0 auto !important;">

  <div class="col-sm" style="margin-bottom: 5rem;">
    <div class="text-center" style="font-size: 8rem;">
      <a href="/vistaGestionarClientes/">
        <i class="bi bi-person-plus-fill" id="cambiar"></i>
      </a>
    </div>
    <div class="text-center fw-bold">R.Clientes</div>
  </div>


  <div class="col-sm">
    <div class="text-center" style="font-size: 8rem;">
      <a href="/vistaGestionarVehiculos">
        <i class="bi bi-car-front-fill" id="cambiar"></i>
      </a>
    </div>
    <div class="text-center fw-bold">R.Vehiculos</div>
  </div>



  <div class="col-sm" style="margin-bottom: 5rem;">
    <div class="text-center" style="font-size:7rem; margin-top: 25px">
      <a href="/vistaGestionarFacturas/">
        <i class="bi bi-cash-coin" id="cambiar"></i>
      </a>
    </div>
    <div class="text-center fw-bold">G.Facturas</div>
  </div>



  <div class="col-sm" style="margin-bottom: 5rem;">
    <div class="text-center" style="font-size: 8em;">
      <a href="/vistaGestionarServiciosPrestados/">
        <i class="bi bi-list-check" id="cambiar"></i>
      </a>
    </div>
    <div class="text-center fw-bold">G.Servicios Solicitados</div>
  </div>

</div>
{% if mensaje2 %}
<script>
  Swal.fire({
    title: 'Sistema Serviteca',
    text: '{{mensaje2}}',
    icon: 'info',
    confirmButtonColor: 'black',
    confirmButtonText: 'Aceptar'
  }).then((result) => {
    if (result.isConfirmed) {
      location.href = "/inicioAsistente/"
    }
  });
</script>
{% endif %}
<script>
  const mensaje = "{{ mensaje }}";
  if (mensaje === "Nuestro sistema detecta que su rol no cuenta con los permisos necesarios para acceder a esta url.") {
    Swal.fire({
      icon: 'info',
      title: 'Sistema Serviteca',
      text: mensaje,
      confirmButtonColor: 'black',
      confirmButtonText: 'Aceptar'
    }).then((result) => {
      if (result.isConfirmed) {
        location.href = "/inicioAsistente/"
      }
    });
  }
</script>
{%endblock %}
{% block piePagina %}
{% include "piePagina.html" %}
{%endblock %}