{% extends "index.html" %}
{% block encabezado %}
{% include "encabezado.html" %}
{%endblock %}
{% block menu %}
{% include "asistente/menu.html" %}
{%endblock %}
{% block contenido %}
<br>
<br>
<br>
<br>
{% load static %}
<script src="{% static '../static/js/inactividad.js' %}"></script>
<h3 class="text-center fw-bold" style="color: black;">GESTIONAR FACTURAS CONFIRMADAS</h3>
<div class="w-75 table-responsive" style="margin: 0 auto; margin-bottom: 5rem;">
    <table id="tblFacturasC" class="table table-bordered table-hover">
        <thead>
            <tr class="text-white text-center" style="background-color: black;">
                <th class="text-center" style="background-color: black;">Codigo</th>
                <th class="text-center" style="background-color: black;">Servicio Prestado</th>
                <th class="text-center" style="background-color: black;">Fecha</th>
                <th class="text-center" style="background-color: black;">Estado</th>
                <th class="text-center" style="background-color: black;">Total</th>
            </tr>
        </thead>
        <tbody>
           
        </tbody>
    </table>
</div>
<h3 class="text-center fw-bold" style="color: black;">GESTIONAR FACTURAS PENDIENTES</h3>
<div class="w-75 table-responsive" style="margin: 0 auto; margin-bottom: 5rem;">
    <table id="tblFacturasP" class="table table-bordered table-hover">
        <thead>
            <tr class="text-white text-center" style="background-color: black;">
                <th class="text-center" style="background-color: black;">Codigo</th>
                <th class="text-center" style="background-color: black;">Servicio Prestado</th>
                <th class="text-center" style="background-color: black;">Fecha</th>
                <th class="text-center" style="background-color: black;">Estado</th>
                <th class="text-center" style="background-color: black;">Total</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
</div>

<script>
    cargarDataTable($("#tblFacturasC"), "LISTADO FACTURAS PAGADAS", 5);
    cargarDataTable($("#tblFacturasP"), "LISTADO FACTURAS NO PAGADAS", 5);
</script>
{%endblock %}
{% block piePagina %}
{% include "piePagina.html" %}
{%endblock %}