{% extends "index.html" %}
{% block encabezado %}
{% include "encabezado.html" %}
{%endblock %}
{% block menu %}
{% include "asistente/menu.html" %}
{%endblock %}
{% block contenido %}
{% load static %}
<script src="{% static '../static/js/inactividad.js' %}"></script>
<h3 class="text-center fw-bold">GESTIONAR VEHICULOS</h3>
<a href="/vistaRegistrarVehiculo/"><button class="btn"
        style="color: white; background-color: black; margin-left: 12.5%;">Agregar</button></a>
<div class="w-75 table-responsive" style="margin: 0 auto; margin-bottom: 5rem;">
    <br>
    <br>
    <table id="tblVehiculos" class="table table-bordered table-hover">
        <thead>
            <tr class="text-center bg-dark text-white">
                <th class="text-center" style="background-color: black;">Placa</th>
                <th class="text-center" style="background-color: black;">Marca</th>
                <th class="text-center" style="background-color: black;">Tipo</th>
                <th class="text-center" style="background-color: black;">Modelo</th>
                <th class="text-center" style="background-color: black;">Acción</th>
            </tr>
        </thead>
        <tbody>
            {% for vehiculo in vehiculos %}
            <tr>
                <td class="text-center">{{vehiculo.vehPlaca}}</td>
                <td class="text-center">{{vehiculo.vehMarca}}</td>
                <td class="text-center">{{vehiculo.vehTipo}}</td>
                <td class="text-center">{{vehiculo.vehModelo}}</td>
                <td class="text-center">
                    <a onclick="abrirModalActualizarVehiculo('{{vehiculo.id}}')">
                        <i class="fa fa-edit text-body" title="ver/editar" style="font-size: 2rem;"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<!-- The Modal -->
<div class="modal" id="ActualizarVeh" style="margin-top: 5%;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header tituloModal">
                <h4 class="modal-title">Actualizar Vehiculo</h4>
                <button type="button" class="btn-close text-white" data-bs-dismiss="modal"></button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form action="/ActualizarV/" method="post" enctype="multipart/form-data" class="needs-validation"
                    novalidate>
                    {% csrf_token %}
                    <input type="hidden" name="idVehiculo" id="idVehiculo" value="">
                    <div class="form-group row">
                        <div class="mb-3 col-lg-4">
                            <label for="txtPlaca" class="fw-bold" style="color: black;">Placa:</label>
                            <input type="text" name="txtPlaca" class="form-control" id="txtPlaca"
                                placeholder="Placa del vehiculo" required>
                            <div class="invalid-feedback">Por favor ingrese la placa del vehiculo</div>
                        </div>
                        <div class="mb-3 col-lg-4">
                            <label for="cbMarca" class="fw-bold" style="color: black;">Marca:</label>
                            <select name="cbMarca" id="cbMarca" class="form-select" required>
                                <option value="">Seleccione</option>
                                {% for marca in tipoMar %}
                                <option value="{{marca.0}}">{{marca.1}}</option>
                                {% endfor %}
                            </select>
                            <div class="invalid-feedback">Por favor ingrese la marca del vehiculo</div>
                        </div>
                        <div class="mb-3 col-lg-4" style="margin: 0% auto;">
                            <label for="cbTipoV" class="fw-bold" style="color: black;">Tipo de Vehiculo:</label>
                            <select name="cbTipoV" id="cbTipoV" class="form-select" required>
                                <option value="">Seleccione</option>
                                {% for tipo in tipoVeh %}
                                <option value="{{tipo.0}}">{{tipo.1}}</option>
                                {% endfor %}
                            </select>
                            <div class="invalid-feedback">Por favor ingrese el tipo del vehiculo</div>
                        </div>
                        <div class="mb-3 col-lg-12">
                            <label for="txtModelo" class="fw-bold" style="color: black;">Modelo</label>
                            <input type="number" name="txtModelo" class="form-control" id="txtModelo"
                                placeholder="Modelo del vehiculo" required>
                            <div class="invalid-feedback">Por favor ingrese el modelo del vehiculo</div>
                        </div>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-bs-dismiss="modal">Actualizar</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<script>
    (() => {
        "use strict";

        const forms = document.querySelectorAll(".needs-validation");

        Array.from(forms).forEach((form) => {
            form.addEventListener(
                "submit",
                (event) => {
                    if (!form.checkValidity()) {
                        event.preventDefault();
                        event.stopPropagation();
                    }

                    form.classList.add("was-validated");
                },
                false
            );
        });
    })();
</script>
<script>
    function abrirModalActualizarVehiculo(id) {
        // Funcion AJAX para obtener los datos del vehiculo por ID
        $.ajax({
            url: "/consultarV/" + id, //URL para obtener los datos del vehiculo por ID
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                // Rellenar el formulario de la modal con los datos obtenidos
                $("#txtPlaca").val(data.vehiculo.vehPlaca);
                $("#cbMarca").val(data.vehiculo.vehMarca);
                $("#txtModelo").val(data.vehiculo.vehModelo);
                $("#cbTipoV").val(data.vehiculo.vehTipo);
                $("#idVehiculo").val(id);

                var form = $('#ActualizarVeh').find('.needs-validation')[0];
                form.classList.remove('was-validated');

                $('#ActualizarVeh').modal('show');
            },
            error: function (error) {
                console.log(error);
                alert("Hubo un error al cargar los datos del vehiculo.");
            }
        });
    }
    $('#ActualizarVeh').on('hide.bs.modal', function (event) {
        var form = $(this).find('.needs-validation')[0];
        if (!form.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
            form.classList.add('was-validated');
        }
    });
</script>

{% if mensaje %}
{% if estado %}
<script>
    Swal.fire({
        title: 'Actualización de datos',
        text: '{{mensaje}}',
        icon: 'success',
        confirmButtonColor: '#3085d6',
        confirmButtonText: 'Aceptar'
    }).then((result) => {
        if (result.isConfirmed) {
            location.href = "/vistaGestionarVehiculos/"
        }
    });
</script>
{% else %}
<script>
    Swal.fire({
        title: 'Actualización de datos',
        text: '{{mensaje}}',
        icon: 'error',
        confirmButtonColor: '#3085d6',
        confirmButtonText: 'Aceptar'
    }).then((result) => {
        if (result.isConfirmed) {
            location.href = "/vistaGestionarVehiculos/"
        }
    });
</script>
{% endif %}
{% endif %}

<script>
    cargarDataTable($("#tblVehiculos"), "LISTADO VEHICULOS", 4);
</script>
{%endblock %}
{% block piePagina %}
{% include "piePagina.html" %}
{%endblock %}