{% extends "index.html" %}
{% block encabezado %}
{% include "encabezado.html" %}
{%endblock %}
{% block menu %}
{% include "asistente/menu.html" %}
{%endblock %}
{% block contenido %}
{% load static %}
<script src="{% static '../static/js/inactividad.js' %}"></script>
<h3 class="text-center fw-bold" style="color: black;">GESTIONAR CLIENTES</h3>

<a href="/vistaRegistrarCliente/"><button class="btn" style="background-color: black; color:white;">Agregar</button></a>
<div class="w-105 table-responsive" style="margin: 0 auto; margin-bottom: 5rem;">
    <br>
    <br>
    <table id="tblClientes" class="table table-bordered table-hover">
        <thead>
            <tr class="text-center text-white">
                <th style="background-color:black ;">Identificacion</th>
                <th style="background-color:black ;">Nombre Completo</th>
                <th style="background-color:black ;">Correo</th>
                <th style="background-color:black ;">Numero de celular</th>
                <th style="background-color:black ;">Direccion</th>
                <th style="background-color:black ;">Acción</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
            <tr>
                <td>{{cliente.cliPersona.perIdentificacion}}</td>
                <td>{{cliente.cliPersona.perNombres}} {{cliente.cliPersona.perApellidos}}</td>
                <td>{{cliente.cliPersona.perCorreo}}</td>
                <td>{{cliente.cliPersona.perNumeroCelular}}</td>
                <td>{{cliente.cliDireccion}}</td>
                <td class="text-center">
                    <a onclick="abrirModalActualizarCliente('{{cliente.id}}')">
                        <i class="fa fa-edit text-body" title="ver/editar" style="font-size: 2rem;"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<!-- The Modal -->
<div class="modal" id="ActualizarCl" style="margin-top: 5%;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header tituloModal">
                <h4 class="modal-title">Actualizar Cliente</h4>
                <button type="button" class="btn-close text-white" data-bs-dismiss="modal"></button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form action="/ActualizarC/" method="post" enctype="multipart/form-data" class="needs-validation"
                    novalidate>
                    {% csrf_token %}
                    <input type="hidden" name="idCliente" id="idCliente" value="">
                    <div class="form-group row">
                        <div class="mb-3 col-lg-4">
                            <label for="txtIdentificacion" class="fw-bold" style="color: black;">Identificacion:</label>
                            <input type="text" name="txtIdentificacion" class="form-control" id="txtIdentificacion"
                                placeholder="Identificacion del cliente" required>
                            <div class="invalid-feedback">Por favor ingrese la identificacion del cliente</div>
                        </div>
                        <div class="mb-3 col-lg-4">
                            <label for="txtNombres" class="fw-bold" style="color: black;">Nombres:</label>
                            <input type="text" name="txtNombres" pattern="[A-Za-zÁáÉéÍíÓóÚúÜüÑñ ]{1,70}"
                                class="form-control" id="txtNombres" placeholder="Nombres del empleado" required>
                            <div class="invalid-feedback">Por favor ingrese el nombre del cliente</div>
                        </div>
                        <div class="mb-3 col-lg-4">
                            <label for="txtApellidos" class="fw-bold" style="color: black;">Apellidos</label>
                            <input type="text" name="txtApellidos" pattern="[A-Za-zÁáÉéÍíÓóÚúÜüÑñ ]{1,70}"
                                class="form-control" id="txtApellidos" placeholder="Apellidos del cliente" required>
                            <div class="invalid-feedback">Por favor ingrese el apellido del cliente</div>
                        </div>
                        <div class="mb-3 col-lg-4">
                            <label for="txtCorreo" class="fw-bold" style="color: black;">Correo Electrónico:</label>
                            <input type="email" name="txtCorreo" class="form-control" id="txtCorreo"
                                placeholder="Correo del cliente" required>
                            <div class="invalid-feedback">Por favor ingrese el correo electronico del cliente</div>
                        </div>
                        <div class="mb-3 col-lg-4">
                            <label for="txtNumeroC" class="fw-bold" style="color: black;">Numero de celular:</label>
                            <input type="number" class="form-control" id="txtNumeroC" name="txtNumeroC"
                                placeholder="Numero telefonico del cliente" required />
                            <div class="invalid-feedback">Por favor ingrese el numero telefonico del cliente</div>
                        </div>
                        <div class="mb-3 col-lg-4">
                            <label for="txtDirreccion" class="fw-bold" style="color: black;">Direccion:</label>
                            <input type="text" name="txtDireccion" class="form-control" id="txtDireccion"
                                placeholder="Direccion del cliente" required>
                            <div class="invalid-feedback">Por favor ingrese la direccion del cliente</div>
                        </div>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-bs-dismiss="modal">Actualizar</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<script>
    (() => {
        "use strict";

        const forms = document.querySelectorAll(".needs-validation");

        Array.from(forms).forEach((form) => {
            form.addEventListener(
                "submit",
                (event) => {
                    if (!form.checkValidity()) {
                        event.preventDefault();
                        event.stopPropagation();
                    }

                    form.classList.add("was-validated");
                },
                false
            );
        });
    })();
</script>
<script>
    function abrirModalActualizarCliente(id) {
        // Funcion AJAX para obtener los datos del cliente por ID
        $.ajax({
            url: "/consultarC/" + id, //URL para obtener los datos del cliente por ID
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                // Rellenar el formulario de la modal con los datos obtenidos
                $("#txtIdentificacion").val(data.cliente.cliPersona.perIdentificacion);
                $("#txtNombres").val(data.cliente.cliPersona.perNombres);
                $("#txtApellidos").val(data.cliente.cliPersona.perApellidos);
                $("#txtCorreo").val(data.cliente.cliPersona.perCorreo);
                $("#txtDireccion").val(data.cliente.cliDireccion);
                $("#txtNumeroC").val(data.cliente.cliPersona.perNumeroCelular);
                $("#idCliente").val(id);

                var form = $('#ActualizarCl').find('.needs-validation')[0];
                form.classList.remove('was-validated');

                $('#ActualizarCl').modal('show');
            },
            error: function (error) {
                console.log(error);
                alert("Hubo un error al cargar los datos del cliente.");
            }
        });
    }
    $('#ActualizarCl').on('hide.bs.modal', function (event) {
        var form = $(this).find('.needs-validation')[0];
        if (!form.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
            form.classList.add('was-validated');
        }
    });
</script>
{% if mensaje %}
{% if estado %}
<script>
    Swal.fire({
        title: 'Actualización de datos',
        text: '{{mensaje}}',
        icon: 'success',
        confirmButtonColor: 'black',
        confirmButtonText: 'Aceptar'
    }).then((result) => {
        if (result.isConfirmed) {
            location.href = "/vistaGestionarClientes/"
        }
    });
</script>
{% else %}
<script>
    Swal.fire({
        title: 'Actualización de datos',
        text: '{{mensaje}}',
        icon: 'error',
        confirmButtonColor: 'black',
        confirmButtonText: 'Aceptar'
    }).then((result) => {
        if (result.isConfirmed) {
            location.href = "/vistaGestionarClientes/"
        }
    });
</script>
{% endif %}
{% endif %}
<script>
    cargarDataTable($("#tblClientes"), "LISTADO CLIENTES", 5);
</script>
{%endblock %}
{% block piePagina %}
{% include "piePagina.html" %}
{%endblock %}