{% extends "index.html" %}
{% block menu %}
{% include "cliente/menu.html" %}
{%endblock %}
{% block contenido %}
<br>
<br>
<br>
{% load static %}
<script src="{% static '../static/js/inactividad.js' %}"></script>
<h3 class="text-center mt-3 fw-bold" style="color: black;">MÓDULO CLIENTE</h3>
<div class="title-cards">
    <h2>Servicios que Ofrecemos</h2>
  </div>
  <div class="container-card">
  
    <div class="card">
      <figure>
        <img src="../media/Car4.png" alt="Car4">
      </figure>
      <div class="contenido-card">
        <h3>Rectificación de rines</h3>
        <p>¿Rines desalineados o con golpes? Confía en nuestros expertos en rectificación para devolverles su forma original.</p>
        <button id="btn-card">Serviteca Opita</button>
      </div>
    </div>
    <div class="card">
      <figure>
        <img src="../media/Car5.png" alt="Car5">
      </figure>
      <div class="contenido-card">
        <h3>Cambio de amortiguadores</h3>
        <p>Recupera la sensación de un viaje suave y seguro. Contáctanos y programaremos el cambio de amortiguadores para tu vehículo.</p>
        <button id="btn-card">Serviteca Opita</button>
      </div>
    </div>
    <div class="card">
      <figure>
        <img src="../media/Car6.png" alt="Car6">
      </figure>
      <div class="contenido-card">
        <h3>Cambio de pastillas de frenos</h3>
        <p>¿Notas que tus frenos no responden como antes? Es hora de cambiar las pastillas de freno. Confía en nuestro servicio de reemplazo para mantener tu seguridad en la carretera.  
        </p>
        <button id="btn-card"> Serviteca Opita</button>
      </div>
    </div>
  </div>
  

{%endblock %}
{% block piePagina %}
{% include "piePagina.html" %}
{%endblock %}