{% extends "index.html" %}
{% block menu %}
{% include "cliente/menu.html" %}
{%endblock %}
{% block contenido %}
<br>
<br>
<br>
<form action="/consultarC/" method="post" enctype="multipart/form-data" class="needs-validation w-75" novalidate>
    {% csrf_token%}
    <label for="txtIdentificacion" class="fw-bold" style="color: black;">Identificacion:</label>
    <input type="text" name="txtIdentificacion" class="form-control" id="txtIdentificacion"
        placeholder="Identificacion del Cliente" style="height: 34px; width: 30%;" required>
    <div class="invalid-feedback">Por favor ingrese la identificacion del cliente</div>
    <br>
    <a><button class="btn" type="submit" id="btn-Consultar" style="background-color: black; color:white;"
            onclick="Iniciar()">Consultar
            cliente</button></a>
</form>

<h3 class="text-center fw-bold" style="color: black;">GESTIONAR SERVICIOS SOLICITADOS</h3>
<div class="w-75 table-responsive" style="margin: 0 auto; margin-bottom: 5rem;">
    <table id="tblServiciosSolicitados" class="table table-bordered table-hover"
        style="display: none; margin-left: 25%">
        <thead>
            <tr class="text-white text-center" style="background-color: black;">
                <th class="text-center" style="background-color: black;">Codigo</th>
                <th class="text-center" style="background-color: black;">Servicio Prestado</th>
                <th class="text-center" style="background-color: black;">Fecha</th>
                <th class="text-center" style="background-color: black;">Estado</th>
                <th class="text-center" style="background-color: black;">Total</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
            <tr>
                <td>{{usuario.first_name}} {{usuario.last_name}}</td>
                <td>{{usuario.email}}</td>
                <td>{{usuario.userTipo}}</td>
                <td><img src="../media/{{usuario.userFoto}}" width="50" height="50"></td>
                <td class="text-center">
                    <i class="fa fa-edit text-body" tile="ver/editar" style="font-size: 2rem;"></i>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr class="text-secondary fw-bold" style="margin-top: 10;">
    <h3 class="text-center fw-bold" style="color: black;">GESTIONAR HISTORIAL SERVICIOS</h3>
    <div id="vistaHistorialS w-75 table-responsive" style="margin: 0 auto;">
        <table class="table table-bordered table-stripped" id="tblHistorialC" style="display: none; margin-left: 25%;">
            <thead>
                <tr class="text-white">
                    <th class="text-center" style="background-color: black;">Codigo</th>
                    <th class="text-center" style="background-color: black;">Servicio Prestado</th>
                    <th class="text-center" style="background-color: black;">Fecha</th>
                    <th class="text-center" style="background-color: black;">Estado</th>
                    <th class="text-center" style="background-color: black;">Total</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>

    </div>
</div>
<br>
<br>
{% if mensaje %}
{% if estado %}
<script>
    Swal.fire({
        title: 'Consulta Cliente',
        text: '{{ mensaje }}',
        icon: 'success',
        confirmButtonColor: '#3085d6',
        confirmButtonText: 'Aceptar'
    }).then(() => {
        mostrarTablas();
    });
</script>
{% else %}
<script>
    Swal.fire({
        title: 'Consulta Cliente',
        text: '{{ mensaje }}',
        icon: 'warning',
        confirmButtonColor: '#3085d6',
        confirmButtonText: 'Aceptar'
    });
</script>
{% endif %}
{% endif %}
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (() => {
        "use strict";

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll(".needs-validation");

        // Loop over them and prevent submission
        Array.from(forms).forEach((form) => {
            form.addEventListener(
                "submit",
                (event) => {
                    if (!form.checkValidity()) {
                        event.preventDefault();
                        event.stopPropagation();
                    }

                    form.classList.add("was-validated");
                },
                false
            );
        });
    })();
   
    function mostrarTablas() {
        document.getElementById("tblServiciosSolicitados").style.display = "table";
        document.getElementById("tblHistorialC").style.display = "table";
    }
</script>
{%endblock %}
{% block piePagina %}
{% include "piePagina.html" %}
{%endblock %}